body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.col {
    margin: 0 15px;
}

.logo-container img {
    width: 192px;
    height: 34px;
}

.menu-container ul {
    list-style: none;
    display: flex;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}

.header-row ul a{
    text-align: left;
    color: #4D4D4D;
}

.menu-container li {
    padding: 0 30px;
}

.signin-container ul {
    list-style: none;
    display: flex;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}

.signin-container li {
    margin-right: 20px;
}

.signin-container li:last-child {
    margin-right: 0;
}

.signup-wrapper a {
    border: 2px solid #007AC1;
    background: #FFFFFF;
    color: #007AC1;
    padding: 13px 28px;
}

.footer-container {
    background-color: #007AC1;
    padding: 50px 50px 20px;
}

.horizontal-menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 25px;
    color: #fff;
}

/* 2) First Row: Horizontal Menu in Left Side and Social Menu in Right Side */
.left-row {
    display: flex;
    align-items: flex-start;
}

.menu-horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-horizontal li {
    padding-right: 50px;
}

.social-link {
    margin-left: 15px;
}

/* 3) Second Row: Vertical Menu Left Side */
.vertical-menu-row {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 25px;
    color: #fff;
}

.vertical-menu-row .row.left-row {
    width: 60%;
    justify-content: space-between;
}

.row.left-row {
    display: flex;
}

.col {
    margin-right: 20px;
}

.title {
    font-weight: 500;
    font-size: 18px;
}

.menu-vertical {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-vertical li {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}

.menu-vertical.list-style {
    list-style-type: disc;
    padding-left: 18px;
}

.row.right-row {
    display: flex;
}

.copyright-row {
    color: #fff;
    text-align: left;
}

.footer-container a{
    color: #fff;
}

.row.right-row.contact li {
    line-height: 10px;
}

.menu-horizontal li a {
    font-size: 16px;
}

.items-container {
    background: #EDF2F4;
    width: 100%;
    padding: 50px 0;
}

.items-container .title {
    text-align: center;
    margin-bottom: 50px; 
}

.items-container .title h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    margin: 0;
}

.items-container .title h3 .color-blue {
    color: #007AC1;
    line-height: 0;
    position: relative;
}

.items-container .title h3 span {
    font-weight: 700;
    color: #4D4D4D;
}

.title h3 .underline-text::after {
    content: url('/home-page/images/Vector_7.png');
    display: block;
    position: absolute;
    left: 0;
    top: 48px;
}

/* Plan section */
.items-container {
    width: 100%;
    overflow: hidden;
}

.txt-blue {
    color: #007AC1;
}

.txt-white{
    color: #fff;
}

.txt-blue{
    color: #007AC1;
}

.items-container .title h3 {
    color: #007AC1;
    text-align: center; 
}

.items-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-wrapper {
    height: 100%;
    position: relative;
}

.bg-blue{
    border: 1px solid #007AC1;
    background: #007AC1;
}

.bg-white{
    border: 1px solid #fff;
    background: #fff;
}

.items-container .col {
    width: 394px;
    border-radius: 24px;
    margin-bottom: 30px;
    padding: 40px;
    box-sizing: border-box;
}

.items-container .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.items-container .thumb-img img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.items-container .item-name {
    margin-left: 15px;
    font-size: 23px;
}

.items-container .description {
    margin-top: 20px;
}

.items-container .description p {
    font-size: 18px;
    font-weight: 300;
}

.items-container .price {
    margin-top: 20px;
}

.items-container .price h2 {
    font-size: 40px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.items-container .price .duration {
    font-size: 20px;
    font-weight: 400;
}

/* Features */
.items-container .feature {
    margin-top: 20px;
    height: 320px;
}

.items-container .feature .title {
    text-align: left;
    margin: 0;
}

.items-container .feature ul {
    list-style: none;
    padding: 0;
}

.items-container .feature li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
}
.items-container .feature li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: #007AC1;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.items-container .btn {
    margin-top: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.items-container .btn a {
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    color: #007AC1;
    text-decoration: none;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
}