.checkout-container {
  background-color: rgb(237, 242, 244);
}

.padding {
  padding: 5rem 0 5rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 0;
}

.dark-blue-card {
  background-color: #007ac1;
}

.dark-blue-card .form-group {
  margin-bottom: 25px;
}

.dark-blue-card .form-group label {
  margin-bottom: 8px;
}

.dark-blue-card .form-group label,
.dark-blue-card a {
  color: #fff;
}

.dark-blue-card a {
  text-decoration: underline;
}

.dark-blue-card .form-group .form-control {
  border-radius: 5px;
}

.form-control {
  height: calc(2.5em + 0.75rem + 2px);
  background: #fff;
}

.dark-blue-card .error {
  color: #d6445e !important;
}

.checkout-container hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
}

body .pink-blue-grad-button {
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px solid transparent;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  text-transform: unset;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  box-shadow: none;
  color: rgb(255, 255, 255);
  background-color: #007ac1;
  height: 48px;
  font-size: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: #005e96;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

/* HTML: <div class="loader"></div> */
body .loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #808080;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.card-body h4 {
  margin-top: 0;
}

.border-radius-none {
  border-radius: 0;
  box-shadow: none;
}

.checkout .nav-tabs {
  border-bottom: 1px solid #663399;
}

.checkout .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}

.checkout .nav-tabs .nav-item .nav-link.active {
  border: 1px solid transparent;
  background: rgba(102, 51, 153, 0.1);
  border-color: #663399 #663399 #fff;
  text-decoration: none;
  color: #000;
}

.checkout .select2-container .select2-selection--single {
  height: 45px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.813rem;
  font-weight: 400;
}

.checkout .select2-container--default .select2-selection--single {
  border-radius: 5px !important;
}

.checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 8px !important;
}

.select2-results__option {
  font-size: 0.813rem;
  font-weight: 400;
}

.cart-item-image {
  width: 100px;
  height: 100px;
}

.cart-item-image img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  background-color: white;
  margin: 20px 0px;
}

.google-btn > span {
  color: black;
}

body .error-border {
  border: 1px solid red;
}
