.items-container {
	width: 100%;
	overflow: hidden;
	background: #EDF2F4;
	padding: 50px 0;
}

/* HEADING */
.items-container .title {
	text-align: center;
	margin-bottom: 50px;
}

.items-container .title h3 {
	font-weight: 700;
	font-size: 48px;
	line-height: 67.2px;
	margin: 0;
	color: #007AC1;
	text-align: center;
}

.items-container .title h3 .color-blue {
	color: #007AC1;
	line-height: 0;
	position: relative;
}

.items-container .title h3 span {
	font-weight: 700;
	color: #4D4D4D;
}

.title h3 .underline-text::after {
	content: url('/front-end/images/Vector_7.png');
	display: block;
	position: absolute;
	left: 0;
	top: 48px;
}

.items-container .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item-wrapper {
	height: 100%;
	position: relative;
}

.items-container .col {
	width: 394px;
	border-radius: 24px;
	margin-bottom: 30px;
	padding: 40px;
	box-sizing: border-box;
}

/* THUMB AND TITLE */
.items-container .header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.items-container .thumb-img img {
	width: 80px;
	height: 80px;
	border-radius: 10px;
}

.items-container .item-name {
	margin-left: 15px;
	font-size: 23px;
}

/* DESCRIPTION */
.items-container .description {
	margin-top: 20px;
}

.items-container .description p {
	font-size: 18px;
	font-weight: 300;
}

/* PRICE */
.items-container .price {
	margin-top: 20px;
}

.items-container .price h2 {
	font-size: 40px;
	color: #FFFFFF;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.items-container .price .duration {
	font-size: 20px;
	font-weight: 400;
}

/* FEATURE */
.items-container .feature {
	margin-top: 20px;
	height: 320px;
}

.items-container .feature .title {
	text-align: left;
	margin: 0;
}

.items-container .feature ul {
	list-style: none;
	padding: 0;
}

.items-container .feature li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 18px;
	font-size: 18px;
	font-weight: 300;
}

.items-container .feature li::before {
	content: '\2713';
	position: absolute;
	left: 0;
	color: #007AC1;
	background-color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
}

/* BUTTONS */
.items-container .btn {
	margin-top: 40px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.items-container .btn a {
	display: inline-block;
	border-radius: 50px;
	background-color: #fff;
	color: #007AC1;
	text-decoration: none;
	width: 100%;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 500;
}

.items-container .col {
	flex-basis: unset;
	flex-grow: unset;
	max-width: 100%;
}