body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-blue {
  border: 1px solid #007ac1;
  background: #007ac1;
}

.bg-white {
  border: 1px solid #fff;
  background: #fff;
}

.txt-white {
  color: #fff;
}

.txt-blue {
  color: #007ac1;
}

.txt-black {
  color: #000;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.txt-center {
  text-align: center;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.0325rem;
}

h2,
.h2 {
  font-size: 1.626rem;
}

h3,
.h3 {
  font-size: 1.42275rem;
}

h4,
.h4 {
  font-size: 1.2195rem;
}

h5,
.h5 {
  font-size: 1.01625rem;
}

h6,
.h6 {
  font-size: 0.813rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #663399 !important;
}

.border-secondary {
  border-color: #52495a !important;
}

.border-success {
  border-color: #4caf50 !important;
}

.border-info {
  border-color: #003473 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #f44336 !important;
}

.border-light {
  border-color: #bbb !important;
}

.border-dark {
  border-color: #47404f !important;
}

.border-radius-1 {
  border-radius: 1rem;
}

.p-4 {
  padding: 1.5rem !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.vh-100 {
  height: 100vh !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.accordion {
  overflow-anchor: none;
}

.accordion > .card {
  overflow: hidden;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  color: #70657b;
  margin-bottom: 4px;
}

.form-control {
  border: initial;
  outline: initial !important;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  color: #47404f;
}

.form-control::placeholder {
  color: #bbb;
}

.form-control.rounded,
.form-control.form-control-rounded {
  border-radius: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.5;
  color: #665c70;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select,
button,
textarea,
input {
  vertical-align: baseline;
}

button,
input {
  overflow: visible;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
}

.col {
  margin: 0 15px;
}

.logo-container img {
  width: 192px;
  height: 34px;
}

.menu-container ul {
  list-style: none;
  display: flex;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  width: 106%;
}

.header-row ul a {
  text-align: left;
  color: #4d4d4d;
}

.menu-container li {
  /* padding: 0 15px; */
  margin-right: 60px;
}

.signin-container ul {
  list-style: none;
  display: flex;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #4d4d4d;
  float: right;
}

.signin-container li {
  margin-right: 20px;
}

.signin-container li:last-child {
  margin-right: 0;
}

.signup-wrapper a {
  border: 2px solid #007ac1;
  background: #ffffff;
  color: #007ac1;
  padding: 13px 28px;
}

/* FOOTER */
.footer-container {
  background-color: #007ac1;
  padding: 50px 50px 20px;
}

.footer-container .container{
  max-width: 1280px;
  margin: 0 auto;
}

.horizontal-menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 25px;
  color: #fff;
}

.left-row {
  align-items: flex-start;
}

.menu-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-horizontal li {
  padding-right: 50px;
}

.social-link {
  margin-left: 15px;
}

.vertical-menu-row {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 25px;
  color: #fff;
}

.vertical-menu-row .row.left-row {
  width: 60%;
  justify-content: space-between;
  margin: 0;
}

.title {
  font-weight: 500;
  font-size: 18px;
}

.menu-vertical {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-vertical li {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.menu-vertical.list-style {
  list-style-type: disc;
  padding-left: 18px;
}

.copyright-row {
  color: #fff;
  text-align: left;
}

.footer-container a {
  color: #fff;
}

.footer_img{
  width: 16px;
}

li.social-link {
  margin-right: 22.11px !important;
  padding-right: 0 !important;
}

.row.right-row.contact li {
  line-height: 10px;
}

.menu-horizontal li a {
  font-size: 16px;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select.form-control {
  -webkit-appearance: none;
}

.error {
  color: #ff0000 !important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-item .nav-link {
  border: 0;
  padding: 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.tab-content {
  padding: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
/* MEDIA QUERY */
@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}

.pink-btn {
  background: #007AC1;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  padding: 10px 44.5px;
  margin-bottom: 35px;
  color: #fff;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to right, #007ac1, #007ac1, #2B2842);
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pink-btn:hover {
  color: #fFF;
  border: 0.2px solid #FFF;
  background-position: 99% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-center{
  text-align: center;
}

.float_right{
  float: right;
}

.facebook_img {
  width: 30px;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid #007ac1;
  background-color: #007ac1;
}

.blog_detail_img {
  width: 100%;
  height: 494px;
}

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px; /* Adjust the top position as needed */
  z-index: 1000; /* Ensure the sticky element appears above other elements */
}

.related_blogs li{
  list-style: none;
}

.blog-main-card{
    background-color: #ffffff;
    padding: 25px;
    color: #4d4d4d;
    font-family: 'Work Sans';
}

.blog-main-card p{
    text-align: justify;
    line-height: 25px;
}

.blogcommentdescription p{
    margin-bottom: 0px;
}

div.ql-toolbar.ql-snow{
    background-color: white;
}
.related_blog_img {
  /* min-width: 82px !important; */
  min-width: 110px !important;
  height: 60px;
}

.related_blog_title {
  color: #000;
  text-align: center;
  font-size: 25px;
  position: absolute;
  margin-left: 22px;
  margin-top: 9px;
}

.text-capitalize{
  text-transform: capitalize;
}

.border-right{
  border-right: 1px solid #000;
}

.border-bottom{
  border-bottom: 1px solid #000;
}

.blog_padding{
  padding: 50px 0;
}

.comment{
  padding: 30px;
  margin-bottom: 0;
  background-color:#f5fdff;
  border-top : 3px solid #007ac1 !important;
  border-bottom : 3px solid #007ac1 !important;
}

.pink-blue-grad-button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 15px;
  /* margin: 15px 15px; */
  border-radius: 10px;
  background-image: linear-gradient(to right, #2b2842, #007ac1, #2b2842, #007ac1);
  color: #f4f4f4;
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.pink-blue-grad-button:hover {
  color: #f4f4f4;
  background-position: 99% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* product page */
.wsus__gallery_item {
  background: #ffffff;
  box-shadow:  0px 6px 60px 5px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 8px;
  margin-top: 25px;
}
.wsus__gallery_item_img {
  height: 290px;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}
.wsus__gallery_item_overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  background: #162b49db;
  top: 5%;
  left: 5%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}
.wsus__gallery_item:hover .wsus__gallery_item_overlay {
  width: 100%;
  height: 100%;
  top: -18px;
  left: 0;
  opacity: 1;
}

.wsus__gallery_item_text {
  padding: 25px 10px 15px 10px;
  position: relative;
}

.wsus__gallery_item_text .price {
  position: absolute;
  margin-top: 0 !important;
  top: -18px !important;
  right: 15px  !important;
  text-align: center;
  background-image: linear-gradient(to right, #007ac1, #007ac1, #2B2842);
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  padding: 4px 12px;
}

.wsus__gallery_item_text .title {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  text-align: left !important;
  margin-bottom: 10px !important;
}

.wsus__gallery_item_text .category {
  font-size: 14px;
  color: #183EBD;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 3px;
}
.wsus__gallery_item_text ul {
  padding: 0;
  margin-top: 20px;
}
.wsus__gallery_item_text ul li p {
  margin: 0;
  color: #FFC107;
  font-size: 16px;
}
.wsus__gallery_item_text ul li p span {
  margin-left: 10px;
}
.wsus__gallery_item_text ul li span {
  font-weight: 400;
  font-size: 14px;
}

.wsus__gallery_item_text ul li .download {
  background: #edf7fe;
  border-radius: 3px;
  color: #616161;
  padding: 7px 10px;
  margin-left: 10px;
}
.wsus__gallery_item_text ul li span i {
  margin-right: 2px;
  color: #333333;
}
 li{
  list-style: none;
}
.wsus__gallery_item_overlay li a:hover {
  color:#1992FB;
}

.wsus__gallery_item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.wsus__gallery_item_overlay li a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  background: #ffffff;
  text-transform: capitalize;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}
.wsus__gallery_item_overlay li:last-child a {
  background: #FFB321;
}

.wsus__gallery_item_overlay li:last-child a:hover {
  color: #ffffff;
}


/* buy now page */

.wsus__product_details_img {
  height: 530px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 6px 60px 5px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.wsus__product_details_text {
  margin-top: 40px;
  background: #EFF3F8;
  border-radius: 5px;
}

.wsus__product_details_text .nav {
  background: #EFF3F8;
  border-radius: 5px 5px 0px 0px;
  padding: 30px;
  padding-bottom: 0;
}

.wsus__product_details_text .nav .nav-item button.active {
  border-color:#1992FB;
  color: #1992FB;
}

.wsus__product_details_text .nav .nav-item button {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 20px 30px 20px 30px !important;
  margin: 0;
  background: #ffffff;
  border-radius: 5px;
  border: none !important;
  text-transform: capitalize;
  transition: all linear .2s;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
  padding-bottom: 5px;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  text-align: center;
}

.wsus__pro_description {
  background: #EFF3F8;
  border-radius: 5px;
  padding: 30px;
  padding-top: 0;
  overflow: hidden;
}

.wsus__pro_description p {
  margin-top: 20px;
  line-height: 26px;
}

.wsus__pro_description ul, .wsus__pro_description ol {
  margin-top: 20px;
}

.wsus__pro_description ul li, .wsus__pro_description ol li {
  margin-left: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  position: relative;
}

.wsus__pro_description ul li::after, .wsus__pro_description ol li::after {
  position: absolute;
  content: "";
  background: url(../images/check_icon_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  top: 2px;
  left: -30px;
}

.pl_30 {
  padding-left: 30px !important;
}

.wsus__sidebar_licence {
  background-image: linear-gradient(to right, #007ac1, #007ac1, #2B2842);
  box-shadow: 0px 4px 84px rgb(0 0 0 / 6%);
  border-radius: 8px;
  text-align: center;
  padding: 35px;
}

.select_licance {
  display: flex;
  justify-content: center;
}

.select_licance .nice-select {
  background: none;
  border: none;
  padding-left: 0;
  width: auto;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 20px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.select_licance .nice-select .current {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.nice-select .current {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option {
  padding: 0px 10px;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  text-transform: capitalize;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #333333;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.select_licance .nice-select:after {
  color: #fff;
}
.wsus__sidebar_licence .nice-select:after {
  right: 10px;
}
.nice-select:after {
  content: '\f078';
  font-family: "font awesome 5 free";
  font-weight: 600;
  font-size: 14px;
  color: #162B49;
  position: absolute;
  right: 20px;
  top: 0;
  transition: all linear .15s;
  -webkit-transition: all linear .15s;
  -moz-transition: all linear .15s;
  -ms-transition: all linear .15s;
  -o-transition: all linear .15s;
}

.wsus__sidebar_licence h2 {
  font-size: 58px;
  color: #ffffff;
  margin-top: 5px;
  overflow: hidden;
  padding-right: 20px;
  text-align: center;
}

.wsus__sidebar_licence h2 span {
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  left: 15px;
}

.wsus__sidebar_licence .button_area {
  justify-content: space-between;
}

.wsus__sidebar_licence .button_area a {
  padding: 15px 20px !important;
}

.wsus__sidebar_licence .live {
  display: block;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  transition: all linear .3s;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.wsus__sidebar_licence .common_btn {
  background: #ffffff;
  color: #333333;
  text-align: center;
  border: 1px solid #ffffff;
  top: 15px;
  border-radius: 5px;
}
.common_btn {
  background-image: linear-gradient(to right, #007ac1, #007ac1, #2B2842);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mt_20 {
  margin-top: 20px !important;
}

.wsus__sidebar_licence .sell_rating li {
  background: #FFFFFF20;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 0px;
  width: 31.33%;
  text-align: center;
}

.wsus__sidebar_licence .sell_rating li i {
  margin-right: 5px;
}

.wsus__sidebar_buy_info, .wsus__sidebar_pro_info, .wsus__sidebar_author_info {
  background: #ffffff;
  box-shadow: 0px 4px 84px rgb(0 0 0 / 6%);
  border-radius: 8px;
  padding: 30px;
}

.wsus__profile_sedebar_item h3, .wsus__sidebar_buy_info h3, .wsus__sidebar_pro_info h3, .wsus__sidebar_author_info h3 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #183EBD;
}

.wsus__sidebar_pro_info ul li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  columns: #616161;
  margin-top: 20px;
  text-transform: capitalize;
  color: #616161;
}

.wsus__sidebar_pro_info ul li span {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  display: inline-block;
  min-width: 150px;
}

.wsus__sidebar_pro_info ul li p a:hover {
  color: #333333;
}
.wsus__sidebar_pro_info ul li p a {
  font-size: 15px;
  font-weight: 400;
  color: #1e6cff;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}
.wsus__comment_single_input {
  background: #fff;
  margin-bottom: 17px;
}

.wsus__comment_single_input fieldset {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  overflow: hidden;
}

.wsus__comment_single_input legend {
  width: auto;
  float: none;
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-left: 20px;
}

.wsus__comment_single_input input, .wsus__comment_single_input textarea {
  border: none;
  padding-top: 6px;
  border-radius: 5px;
  width: 100%;
}

.nav {
  display: flex;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.nav-item {
  list-style: none;
  margin-right: 10px;
}

.nav-link {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.tab-content {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
}

.tab-content.active {
  display: block;
}

.cust-page-padding {
  padding: 2rem 10rem 5rem;
}

.mt_30 {
  margin-top: 30px !important;
}

.comment_img{
  border-radius: 9999px;
  width: 4%;
  margin-top: 12px;
}

.d-flex{
  display: flex;
}

.text-warning{
  color: #FFC107 !important;
}

.product_details .cust-page-padding{
  padding: 0rem 0 5rem;
  margin-bottom: 0;
}

.form-icon {
  margin-right: 10px;
}

.cart-items .cart-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* Remove border from the last cart item */
.cart-items .cart-item:last-child {
  border-bottom: none;
}

.price-slick-slider {
  width: 100%;
}

.price-slide {
  padding: 10px; /* Add padding to each slide to avoid content from sticking to the edges */
}

.price-slide ul li{
  text-align: left;
}
.price-slide ul li i{
background-color: white; color: #007AC1; padding: 3px; border-radius: 50%;
margin-right: 10px;
}