@media (max-width: 1440px) {
    .items-container .col-xl-1{
        max-width: 100% !important;
    }  
    .items-container {
        width: 98% !important;
    } 
}

@media (max-width: 1439px){
    .items-container {
        width: 95% !important;
    }
}

@media(max-width: 1024px){
    .wsus__product_details_text .nav .nav-item button{
        padding: 20px 20px 20px 20px !important;
        margin-bottom: 10px;
    }
    
    .wsus__sidebar_licence .common_btn{
        margin-top: 10px;
    }
    .pl_30{
        padding: 0 !important;
    }
    .wsus__sidebar {
        margin-top:25px;
    }
}

@media (max-width: 991px) {
    .wsus__product_page_search form button {
       position: relative !important;
       right: 0 !important;
    }
    .items-container{
        padding: 0 !important;
    }
    .items-container .wsus__gallery_item:last-child {
        margin-bottom: 25px !important;
    }
    .items-container .mt-1{
        margin-top: 12px !important;
    }
    .clearFilterButton .blue_common_btn svg {
        left: -7px !important;
        width: 102% !important;
    }
    .items-container .title{
        margin-top: 50px !important;
    }
    /* Product Details */
    .pl_30{
        padding: 0 !important;
    }
    .wsus__sidebar {
        margin-top:25px;
    }
    .items-container{
        width: 90% !important;
    }
    .wsus__product_details_text .nav .nav-item button{
        padding: 20px 20px 20px 20px !important;
        margin-bottom: 10px;
    }
    .wsus__sidebar_licence .common_btn{
        margin-top: 10px;
    }
    .wsus__sidebar_pro_info ul li{
        flex-wrap: wrap;
    }
    .wsus__product_details_text .nav .nav-item button.active{
        width: 100%;
    }
    .wsus__product_details_img{
        height: auto !important;
    }
}