@media (max-width: 1440px) {
    .items-container .col-xl-1{
        max-width: 100% !important;
    }   
}

@media (max-width: 1439px){
    .items-container {
        width: 95% !important;
    }
}

@media (max-width: 991px) {
    .wsus__product_page_search form button {
       position: relative !important;
       right: 0 !important;
    }
    .items-container{
        padding: 0 !important;
    }
    .items-container .wsus__gallery_item:last-child {
        margin-bottom: 25px !important;
    }
    .items-container .mt-1{
        margin-top: 12px !important;
    }
    .clearFilterButton .blue_common_btn svg {
        left: -7px !important;
        width: 102% !important;
    }
    .items-container .title{
        margin-top: 50px !important;
    }
}